body, h1, h2, p, ul, li{
margin:0;
padding:0
}

body{
	font-family:'Arial', sans-serif;
	background-color: #b3e0f2; /* light blue color */
	color:#333;
}

nav{
	background:#333;
	padding: 10px 0;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
}

li{
	margin-right: 15px;
}

a{
	text-decoration: none;
	color:#fff;
	font-weight: bold;
	padding: 8px 12px;
}

a:hover{
	background-color:#555;
}

.header-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 200px; /* can adjust this to your liking*/
}

.header-content{
	margin-top: 20px;
}

main{
	padding:20px;
}


.small-logo{
	max-width: 150px;
	height:auto;
	margin-right:10px;	
}

h1{
	color:#333;
	margin:0;
	flex:1; /*this allows header content to take remaining space*/
}
	
footer{
	background-color:#333;
	color:#fff;
	text-align: center;
	padding: 5px; /*can adjust for top and bottom padding*/
	margin-top: 5px; 
	position: fixed;
	bottom:0;
	width:100%;
	}